body.projects-page {
  min-height: 100vh;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  position: relative;
  z-index: 0;
}

body.projects-page.sunset-theme {
  background-image: url("../img/hero-bg-day.png");
}

body.projects-page.night-theme {
  background-image: url("../img/hero-bg-night.png");
}

.projects-grid {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.project {
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}
