# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# React / Build
build/
dist/
.cache/
.next/
out/
coverage/
*.log

# dotenv environment variables
.env
.env.*.local

# macOS system files
.DS_Store

# VS Code settings
.vscode/
.history/

# Logs
logs
*.log
logs/**/*.log

# Optional: OS-specific
Thumbs.db
